extends layout


block append jsFiles
    script(src='/app/user/login.js')
block contents
    include component/headbar
    .container-fluid
      .row-fluid
        .span9
          .hero-unit
            h1 Micro Web!
            p
              | Micro Web 是一个node.js微型框架，使用了connect中间件，和jade模板引擎。
            p
              a.btn.btn-primary.btn-large(href='#') Learn more »
          .row-fluid
            .span4
              h2 控制器
              p
                | 编写控制器，只要引入并继承Controller。写入uri即可为控制器指定路由。可以通过事件回调机制，完成模型数据的读取之后，并交给视图渲染。
              p
                a.btn(href='#') View details »
            // /span
            .span4
              h2 模型
              p
                | 模型直接使用mogoose来未完成ORM。
              p
                a.btn(href='#') View details »
            // /span
            .span4
              h2 视图
              p
                | 视图会在服务启动后预渲染所有视图。当想要调用时，使用view.use('视图路径')直接调用视图。
              p
                a.btn(href='#') View details »
            // /span
          // /row
          .row-fluid
            .span4
              h2 路由系统
              p
                | 通过controller目录下的index.js来确定访问路径。
              p
                a.btn(href='#') View details ?
            // /span
            .span4
              h2 配置
              p
                | 配置放在app目录下的config子目录，可以根据需要方便的修改
              p
                a.btn(href='#') View details ?
            // /span
            .span4
              h2 一些核心的方法
              p
                | lib目录下，Class.js为父类，提供一些基本的原型继承的功能。Controller.js，来作为控制器的父类，提供了事件驱动的控制器调度。
              p
                a.btn(href='#') View details ?
            // /span
          // /row
        // /span
        .span3
          .well.sidebar-nav
            ul.nav.nav-list
              li.nav-header MVC 系统
              li.active
                a(href='#') 控制器
              li
                a(href='#') 视图
              li.nav-header 路由/配置
              li
                a(href='#') 路由系统
              li
                a(href='#') 配置信息
              li.nav-header 核心方法
              li
                a(href='#') session
              li
                a(href='#') class
              li
                a(href='#') event
          // /.well
        // /span
      // /row
